<?xml version="1.0" encoding="UTF-8"?>
<!--Format:
n  => name of the sprite
x  => sprite x pos in texture
y  => sprite y pos in texture
w  => sprite width (may be trimmed)
h  => sprite height (may be trimmed)
oX => sprite's x-corner offset (only available if trimmed)
oY => sprite's y-corner offset (only available if trimmed)
oW => sprite's original width (only available if trimmed)
oH => sprite's original height (only available if trimmed)
r => 'y' only set if sprite is rotated
-->
<TextureAtlas imagePath="gfx/ui-menu.png" width="640" height="384">
    <sprite n="banner.png" x="0" y="0" w="640" h="128" />
	<sprite n="menu.png" x="0" y="128" w="640" h="256" />
</TextureAtlas>
